{
    "extends": [
        "airbnb",
        "plugin:jest/recommended"
    ],
    "env": {
        "node": true
    },
    "plugins": [
        "jest"
    ],
    "rules": {
        "arrow-body-style": "off",
        "indent": ["error", 4]
    }
}
